* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.container-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: #f0f0f0;
    padding: 50px;
    color: black;
}

.container-left img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: #fbff00;
    padding: 50px;
    color: black;
}

.container-right img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

